{{#each this}}
<h1 class="country-name">{{name}}</h1>
<div class="country-info-wrap">
    <ul class="country-info-list">
        <li class="country-info-items">Capital: {{capital}}</li>
        <li class="country-info-items">Population: {{population}}</li>
        <li class="country-info-items"> Languages: 
            <ul class="lang-wrap">
                {{#each languages}}
                    <li class="lang-item">{{name}}</li> 
                {{/each}}
            </ul>
        </li>
    </ul>
    <div class="country-flag">
        <img src="{{flag}}" alt="Flag of the country">
    </div>
</div>
{{/each}}